.bd-turtle-post{
width: 500px; 
margin-top: 40px;
border: 2px solid transparent;
background: #e4e4e4; 
border-image: linear-gradient(to bottom right, #f16771 0%, #c787d2 5%, #2c90fc 25%, #43a047 50%, #c7a139 73%, #fc8a24 24%, #c47171 100%);
border-image-slice: 1;
} 
.dark-mode .bd-turtle-post {
width: 500px;
margin-top: 40px;
border: 1px solid transparent; 
background: #000; 
border-image: linear-gradient(to bottom right, #f16771 0%, #c787d2 5%, #2c90fc 25%, #43a047 50%, #c7a139 73%, #fc8a24 24%, #c47171 100%); 
border-image-slice: 1;
} 
.bd-post-tit {
font-family: "Poppins", sans-serif; 
font-size: 42px; 
margin: 0 auto; 
font-weight: 900; 
color: #fff; 
text-transform: uppercase; 
letter-spacing: 2px; 
text-align: center;
margin-top: 77px; 
cursor: pointer; 
transition: text-shadow 1s;
margin-left: 8px;
} 
.dark-mode .bd-post-tit { 
font-family: "Poppins", sans-serif; 
font-size: 42px; 
margin: 0 auto; 
font-weight: 900; 
color: #d2d2d2; 
text-transform: uppercase; 
letter-spacing: 2px; 
text-align: center;
margin-top: 77px; 
cursor: pointer; 
transition: text-shadow 1s;
margin-left: 8px;
} 
.bd-post-tit:hover {
text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01, 0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe; 0.2em 0.2em #7e3ca7;
} 
.bd-post-titsub {
font-family: "Montserrat", sans-serif;
font-size: 15px; 
color: #0d0d0d;
letter-spacing: 1px; 
text-align: center; 
margin-top: 18px; 
opacity: 50%; 
text-transform: uppercase;
} 
.dark-mode .bd-post-titsub {
font-family: "Montserrat", sans-serif; 
font-size: 15px; 
color: #E2E2E2; 
letter-spacing: 1px; 
text-align: center; 
margin-top: 18px;    
opacity: 50%; 
text-transform: uppercase;
} 
.bd-post-tit > i {
-webkit-text-stroke-color: #ffffff;
-webkit-text-stroke-width: 2px;
font-size: 118px; 
color: transparent; 
border-radius: 10px;
position: absolute; 
opacity: 0.2; 
margin-left: 97px; 
margin-top: -51px;
} 
.dark-mode .bd-post-tit > i {
-webkit-text-stroke-color: #c9ddff; 
-webkit-text-stroke-width: 2px;
font-size: 118px; 
color: transparent; 
border-radius: 10px;
position: absolute; 
opacity: 0.2; 
margin-left: 97px; 
margin-top: -51px;
} 
.bd-post-tit > span {
font-family: "Montserrat", sans-serif; 
text-align: justify; 
font-size: 13px; 
line-height: 135%; 
color: #c3c3c3;
} 
.bd-postt-text {
width: 300px; 
font-family: "Montserrat", sans-serif;
text-align: justify; 
font-size: 13px; 
line-height: 135%; 
color: #323131; 
margin: 0 auto; 
background:transparent; 
padding: 32px 32px; 
outline: 2px solid #3b3b3b1c; 
margin-top: 36px;
}
.dark-mode .bd-postt-text {
width: 300px; 
font-family: "Montserrat", sans-serif; 
text-align: justify; 
font-size: 13px; 
line-height: 135%; 
color: #777777; 
margin: 0 auto; 
background:transparent; 
padding: 32px 32px;
outline: 2px solid #3b3b3b66; 
margin-top: 36px;
} 
.bd-postu-tit > span {
font-family: "Montserrat", sans-serif; 
text-align: justify; 
font-size: 13px; 
line-height: 135%; 
color: #c3c3c3;
} 
.bd-postt-info {
text-align: left;
width: 300px; 
margin: auto; 
padding: 22px 33px; 
background: transparent; 
font-family: "Montserrat", sans-serif;
font-size: 12px; 
color: #323131; 
font-weight: 500; 
outline: 2px solid #3b3b3b1c;
} 
.bd-postt-info > b {
font: 900 12px 'Poppins'; 
color: #541010; 
text-transform: uppercase; 
background-image: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #aeb70c, #f9a825, #be0101);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
letter-spacing: .5px;
}
 .dark-mode .bd-postt-info {
text-align: left; 
width: 300px; 
margin: auto; 
padding: 22px 33px; 
background: transparent; 
font-family: "Montserrat", sans-serif; 
font-size: 12px; 
color: #777777;
font-weight: 500; 
outline: 2px solid #3b3b3b66;
}
